.app {
  text-align: center;
}

.order-container {
  margin-top: 2rem;
}

.order-container > p {
  font-weight: 500;
}

.order-list {
  padding: 0;
}

.order-list-item {
  list-style-type: none;
  box-sizing: border-box;
  padding: 1rem;
  margin: 1rem;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
